.home-image {
    height: 100dvh;
    width: 100dvw;
    background: url('../../../assets/images/home-image.jpg') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
}

.home-page-login-button {
    font-size: 18px;
}