.home-page-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 75px;
    background-color: #141414;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    .profile-icon {
        justify-self: flex-end;
        padding-right: 8px;
        color: #ff5722;
        height: 35;
        width: 35;
    }

    .logo-image {
        width: 100px;
        height: 55px;
        background-size: cover;
        background-image: url('../../../assets/images/logo.jpg');
    }

    .logo-icon {
        padding-left: 8px;
        color: #ff5722;
        height: 35;
        width: 35;
    }

    .home-page-title-content {
        flex: 1;
        // text-align: center;
        font-style: oblique;
        padding-left: 30px;
        padding-top: 5px;
        font-family: 'Bungee Spice', sans-serif;
        color: #ff5722;
        font-size: 56px;

    }
}

.home-image {
    height: 100dvh;
    width: 100dvw;
    background: url('../../../assets/images/home-image.jpg') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
}

.home-page-login-button {
    font-size: 18px;
}