.app-menu {
    display: flex;
    justify-content: end;
    padding: 5px 16px 5px 15px ;
}
.app-menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.app-menu-item-icon {
    display: flex;
    flex: 1;
}

.app-menu-item-text {
    display: flex;
    flex: 2;
}
