.todo-list {
    .dx-list-item .todo-command-button .dx-button {
        display: none;
    }

    .dx-list-item-selected .todo-command-button .dx-button {
        display: inline-flex;
        background-color: transparent;
    }
}