.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  width: 400px;
  border: 1px solid;
  border-radius: 5px;
}

.navigation-bar {
  display: flex;
}

.navigation {
  display: flex;
  flex: 1;
}